
#mapid {
	height:300px;
}
.title {
	text-align: center;
    font-family: 'Lobster', serif;
    color: white;
    font-size: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.form {
	width: 300px;
    margin: 0 auto;
    background-color: rgba(93, 98, 125, 0.7);
    border-radius: 20px;
	position:relative;
	bottom:10px;
}
form input {
	color: rgba(107, 109, 126, 1);
	padding-left:5px;
}
.favorite {
	text-align: center;
    font-family: 'Lobster', serif;
    color: white;
    font-size: 36px;
    position: relative;
    top: 60px;
}
a {
	font-family: 'Quicksand';
	text-transform: uppercase;
}
label {
	color: white;
    padding-left: 10px;
    padding-top: 5px;
	font-family: 'Quicksand';
}
.favoritehood {
    text-align: center;
    font-family: 'Quicksand', serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top: 110px;
}

.explore {
    text-align: center;
    font-family: 'Lobster', serif;
    color: white;
    font-size: 36px;
    position: relative;
    top: 160px;
}
.explorehood {
	text-align: center;
    font-family: 'Quicksand', serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    top: 210px;
}
#calendartext {
	text-align: center;
    font-family: 'Lobster', serif;
    color: white;
    font-size: 36px;
    position: relative;
    top: 510px;
}
#calendarlink {
	color: white;
    text-decoration: none;
}
#calendarlink:hover{
	color: navy;
}
.dropdown {
	text-align:center;
}

#youtubevideo {
	text-align: center;
    position: relative;
    top: 450px;
}
#upcoming {
	text-align:center;
}
#insertinputs {
	margin-bottom:-15px;
}
#dropmenu {
	text-align:center;
}
#googleMap {
	width: 100%;
    height: 380px;
    position: relative;
    overflow: hidden;
    transform: translateZ(0px);
    background-color: rgb(229, 227, 223);
    top: 300px;
}
.recentshow {
	font-family: 'Lobster', serif;
    color: white;
    font-size: 36px;
    text-align: center;
    position: relative;
    top: -90px;
}
#getdirections {
	position: relative;
    top: 300px;
    text-align: center;
}
#venuename {
    font-family: 'Quicksand', serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    bottom: 70px;
}
.dropval {
	position: relative;
    top: 300px;
}
#imadethis {
	position: relative;
    top: 550px;
    font-family: 'Lobster';
    color: white;
    font-size: 16px;
    text-align: center;
}








